{% extends "base.html" %}

{% block title %}Archive Workers{% endblock %}

{% block content %}
<h1>Archive Workers</h1>
{% for archiver in archivers %}
    <a href="{% url 'ContentManager:Archivers:archiver' archiver.codename %}">{{ archiver.name }}</a>
{% empty %}
    <p>There are no available archive workers!</p>
{% endfor %}
<form action="" method="POST">
{% csrf_token %}
<button type="submit" name="scan-library">Scan Library</button>
</form>
<br>
<iframe src="/static/general_log.txt" width="1600" height="500" frameBorder="0"></iframe>
{% endblock %}