{% extends "base.html" %}

{% load static %}
{% load paginator_tags %}

{% block title %}{{ collection.name }}{% endblock %}

{% block content %}
    <h1>{{ collection.name }}</h1>
    <p>
        Owners: {% for owner in collection.owners.all %}<a href="">{{ owner.username }}</a>,
        {% empty %}No Owners</a>{% endfor %}<br/>
        {% if collection.restricted_access %} This collection's access is restricted <br>{%endif%}
        {% if collection.adult %}Adult Collection<br>{% endif %}
        Related Collections: {% for related_collection in collection.related_collections.all %}
        <a href="{% url 'ContentManager:collection' collection.id %}">{{ collection.name }}</a>,
        {% empty %}None{% endfor %}
    </p>
    <div class="item-container">
        {% for content in content_list %}
            <div class="item">
                <a href="{% url 'ContentManager:content' content.id %}">
                    {{ content.preview|safe }}
                    <p class="centered">{{ content.title }}</p>
                </a>
                <p class="centered" class="collections">
                    {% for collection in content.collections.all %}
                        <a href="{% url 'ContentManager:creator' creator.id %}">{{ creator.name }}</a>
                    {% empty %}
                        <a href="{% url 'ContentManager:nocreator' %}">No Creators</a>
                    {% endfor %}
                    </p>
            </div>
        {% empty %}
            <p>No content is available.</p>
        {% endfor %}
    </div>
{% block pagination %}
{% if is_paginated %}
    <div class="centred">
        <p>Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</p>
        <div class="pagination">
            <span class="page-links">
                {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                {% for page_number in page_range %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        {% if '?' in request.path %}
                            <a href="{{request.path}}&page={{ page_number }}" class="{% if page_number == page_obj.number %}page-current{% endif %}">{{page_number}}</a>
                        {% else %}
                            <a href="{{request.path}}?page={{ page_number }}" class="{% if page_number == page_obj.number %}page-current{% endif %}">{{page_number}}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
{% endif %}
{% endblock %}
{% endblock %}
