{% extends "base.html" %}

{% load static %}

{% block title %}{% if content %}{{ content.title }}{% else %}Permission Denied{% endif %} - Content Details{% endblock %}

{% block content %}{% if content %}<h1>{{ content.title }}</h1>
<p>
    <b>Creators:</b>{% for creator in content.creators.all %}<a href="{% url 'ContentManager:creator' creator.id %}">{{ creator.name }}</a>,
    {% empty %}<a href="{% url 'ContentManager:nocreator' %}">No Creators</a>{% endfor %}<br/>
    <b>Tags:</b>{% for tag in content.tags.all %}<a href="{% url 'ContentManager:tag' tag.id %}">{{ tag.name }}</a>, {% empty %}<a href="{% url 'ContentManager:notag' %}">No Tags</a>{% endfor %} <br/>
    <b>Content type:</b> {{ content.content_type }} <br/>
    <b>Source URL:</b> <a href="{{ content.source_url }}">{{ content.source_url }}</a> <br/>
    <b>Source ID:</b> {{ content.source_id }} <br/>
    <b>Seen by:</b> {% for user in content.seen_by.all %}{{ user.username }}, {% empty %}None{% endfor %}<br/>
    <b>Liked by:</b> {% for user in content.liked_by.all %}{{ user.username }}, {% empty %}None{% endfor %} <a href="{{request.path}}?like">Like</a><br/>
    <b>Content size:</b> {{ content.content_size }} Bytes <br/>
    <b>Content path:</b> {{ content.content_path }} <br/>
    <b>Time Created:</b> {{ content.time_created }} <br/>
    <b>Time Retrieved:</b> {{ content.time_retrieved }}<br/>
    <b>Published on:</b> {{ content.published_date }} <br/>
    <b>Last Modified:</b> {{ content.last_modified_date }} <br/>
    <b>Content Language:</b> {% if content.language == '' %}Unknown{% else %}{{ content.language }}{% endif %} <br/>
    <b>Content Copyright:</b> {% if content.copyright == '' %}Unknown (assumed author retains all copyright){% else %}{{ content.copyright }}{% endif %} <br/>
    <b>Related Content:</b> {% for content in content.related_content.all %}<a href="{% url 'ContentManager:content' content.id %}">{{ content.title }}</a>, {% empty %}No Related Content{% endfor %}<br>
    <b>In Collections:</b> {% for collection in content.collection_content.all %}<a href="{% url 'ContentManager:collection' collection.id %}">{{ collection.name }}</a>, {% empty %}None{% endfor %}<br>
    {% if content.from_archiver is not None %}<b>Collected by archiver:</b></b> <a href="{% url 'ContentManager:Archivers:archiver' content.from_archiver.codename %}">{{ content.from_archiver.name }}</a><br>{% endif %}
    <b>Content Notes:</b> {% if content.notes == '' %}None{% else %}<br/>
    <pre>{{ content.notes|safe }}</pre>{% endif %}<br/>
    {% if user.is_authenticated and perms.ContentManager.change_content %}
        <b><a href="{% url 'admin:ContentManager_content_change' content.id %}">Edit Content</a></b>
    {% endif %}
</p>
<hr>
{% for file in files %}
        {% if file.type == "iframe" %}
            <p>{{ file.path }}</p>
            <iframe class="iframe" src="{% static file.path %}" width="1600" height="700"></iframe>
            <hr>
        {% endif %}
{% endfor %}
<div class="file-container">
    {% for file in files %}
        <div class="file">
            {% if file.type == "image" %}
                <img class="file-image" src="{% static file.path %}"/>
            {% elif file.type == "video" %}
                <video controls="controls" src="{% static file.path %}" playsinline="playsinline" width="1400">
                    <p>If you are seeing this, the video did not load!</p>
                </video>
            {% elif file.type == "audio" %}
                <audio controls="controls" src="{% static file.path %}">
                    <p>If you are seeing this, the audio did not load!</p>
                </audio>
            {% elif file.contents %}
                <pre>
{{ file.contents|safe }}
                </pre>
            {% else %}
                {{file.path}} <br/>
            {% endif %}
        </div>
    {% empty %}
        No viewable files associated with content
    {% endfor %}
</div>
{% else %}
<h1>Access Denied</h1>
<p>You don't have permission to view this content!</p>{% endif %}{% endblock %}