{% extends "base.html" %}

{% load static %}

{% block title %}{% if content %}{{ content.title }}{% else %}Permission Denied{% endif %} - Content Details{% endblock %}

{% block content %}{% if content %}<h1>{{ content.title }}</h1>
<p>
    Content type: {{ content.content_type }} <br/>
    Source URL: {{ content.source_url }} <br/>
    Source ID: {{ content.source_id }} <br/>
    Creators: {% for creator in content.creators.all %}<a href="{% url 'ContentManager:creator' creator.id %}">{{ creator.name }}</a>,
    {% empty %}<a href="{% url 'ContentManager:nocreator' %}">No Creators</a>{% endfor %}<br/>
    Tags: {% for tag in content.tags.all %}<a href="{% url 'ContentManager:tag' tag.id %}">{{ tag.name }}</a>, {% empty %}<a href="{% url 'ContentManager:notag' %}">No Tags</a>{% endfor %} <br/>
    Seen by: {% for user in content.seen_by.all %}{{ user.username }}, {% empty %}None{% endfor %}<br/>
    Liked by: {% for user in content.liked_by.all %}{{ user.username }}, {% empty %}None{% endfor %} <a href="">Favourite</a><br/>
    Content size: {{ content.content_size }} <br/>
    Content path: {{ content.content_path }} <br/>
    Time Created: {{ content.time_created }} <br/>
    Time Retrieved: {{ content.time_retrieved }}<br/>
    Published on: {{ content.published_date }} <br/>
    Last Modified: {{ content.last_modified_date }} <br/>
    Notes: {{ content.notes|safe }}<br/>
    Content Language: {{ content.language }} <br/>
    Content Copyright: {{ content.copyright }} <br/>
    Related Content: {% for content in content.related_content.all %}<a href="{% url 'ContentManager:content' content.id %}">{{ content.title }}</a>, {% empty %}No Related Content{% endfor %}<br>
    In Collections: {% for collection in content.collection_content.all %}<a href="{% url 'ContentManager:collection' collection.id %}">{{ collection.name }}</a>, {% empty %}None{% endfor %}<br>
    {% if content.from_archiver is not None %}Collected by archiver: <a href="{% url 'ContentManager:Archivers:archiver' content.from_archiver.codename %}">{{ content.from_archiver.name }}</a>{% endif %}
</p>
<div class="file-container">
    {% for file in files %}
        <div class="file">
            {% if file.type == "image" %}
                <img class="file-image" src="{% static file.path %}"/>
            {% elif file.type == "video" %}
                <video controls="controls" src="{% static file.path %}" playsinline="playsinline" width="1400">
                    <p>If you are seeing this, the video did not load!</p>
                </video>
            {% elif file.type == "iframe" %}
                <iframe src="{% static file.path %}" width="1600" height="700"></iframe>
            {% elif file.contents %}
                <pre>
{{ file.contents|safe }}
                </pre>
            {% else %}
                {{file.path}} <br/>
            {% endif %}
        </div>
    {% empty %}
        No viewable files associated with content
    {% endfor %}
</div>
{% else %}
<h1>Access Denied</h1>
<p>You don't have permission to view this content!</p>{% endif %}{% endblock %}