{% extends "base.html" %}

{% load static %}
{% load paginator_tags %}

{% block title %}Search{% endblock %}

{% block content %}
    <form action="" method="get">
        {{ form.as_p }}
        <input type="submit" value="Submit">
        {% if request.user.is_authenticated %}
        {{ collection_form.as_p }}
        <input type="submit" value="Create collection based on search">
        {% endif %}
    </form>
    <br>
    <div class="item-container">
        {% for content_item in content_list %}
            <div class="item">
                <a href="{% url 'ContentManager:content' content_item.id %}">
                    {{content_item.preview|safe}}
                    <p class="centered">{{ content_item.title }}</p>
                </a>
                <p class="centered" class="creators">
                    {% for creator in content_item.creators.all %}
                        <a href="{% url 'ContentManager:creator' creator.id %}">{{ creator.name }}</a>
                    {% empty %}
                        <a href="{% url 'ContentManager:nocreator' %}">No Creators</a>
                    {% endfor %}
                    </p>
            </div>
        {% empty %}
            <p>No content is available.</p>
        {% endfor %}
    </div>
{% block pagination %}
{% if is_paginated %}
    <div class="centred">
        <p>Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</p>
        <div class="pagination">
            <span class="page-links">
                {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                {% for page_number in page_range %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        {% if request.GET %}
                            <a href="{{ request.path }}?title={{ request.GET.title }}
&content_type={{ request.GET.content_type }}
&source_url={{ request.GET.source_url }}
&source_id={{ request.GET.source_id }}
&content_path={{ request.GET.content_path }}
&notes={{ request.GET.notes }}
&language={{ request.GET.language }}
&copyright={{ request.GET.copyright }}
&time_created_start={{ request.GET.time_created_start }}
&time_created_end={{ request.GET.time_created_end }}
&time_retrieved_start={{ request.GET.time_retrieved_start }}
&time_retrieved_end={{ request.GET.time_retrieved_end }}
&published_date_start={{ request.GET.published_date_start }}
&published_date_end={{ request.GET.published_date_end }}
&content_size={{ request.GET.content_size }}
&from_archiver={{ request.GET.from_archiver }}
&creator_names={{ request.GET.creator_names }}
&tag_names={{ request.GET.tag_names }}
&page={{ page_number }}" class="{% if page_number == page_obj.number %}page-current{% endif %}">{{page_number}}</a>
                        {% else %}
                            <a href="{{ request.path }}?title={{ request.GET.title }}
&content_type={{ request.GET.content_type }}
&source_url={{ request.GET.source_url }}
&source_id={{ request.GET.source_id }}
&content_path={{ request.GET.content_path }}
&notes={{ request.GET.notes }}
&language={{ request.GET.language }}
&copyright={{ request.GET.copyright }}
&time_created_start={{ request.GET.time_created_start }}
&time_created_end={{ request.GET.time_created_end }}
&time_retrieved_start={{ request.GET.time_retrieved_start }}
&time_retrieved_end={{ request.GET.time_retrieved_end }}
&published_date_start={{ request.GET.published_date_start }}
&published_date_end={{ request.GET.published_date_end }}
&content_size={{ request.GET.content_size }}
&from_archiver={{ request.GET.from_archiver }}
&creator_names={{ request.GET.creator_names }}
&tag_names={{ request.GET.tag_names }}
&page={{ page_number }}" class="{% if page_number == page_obj.number %}page-current{% endif %}">{{page_number}}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
{% endif %}
{% endblock %}
{% endblock %}