{% extends "base.html" %}

{% load static %}
{% load paginator_tags %}

{% block title %}Tags{% endblock %}

{% block content %}
    <h1>Tags</h1>
    <div class="item-container">
            <div class="item">
                <a href="{% url 'ContentManager:notag' %}">
                    <p class='preview'>No preview</p>
                    <p class="centered">None</p>
                </a>
            </div>
        {% for tag in tag_list %}
            <div class="item">
                <a href="{% url 'ContentManager:tag' tag.id %}">
                    {{ tag.preview|safe }}
                    <p class="centered">{{ tag.name }}</p>
                </a>
            </div>
        {% empty %}
            <p>No tags are available.</p>
        {% endfor %}
    </div>
{% block pagination %}
{% if is_paginated %}
    <div class="centred">
        <p>Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</p>
        <div class="pagination">
            <span class="page-links">
                {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                {% for page_number in page_range %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        {% if '?' in request.path %}
                            <a href="{{request.path}}&page={{ page_number }}" class="{% if page_number == page_obj.number %}page-current{% endif %}">{{page_number}}</a>
                        {% else %}
                            <a href="{{request.path}}?page={{ page_number }}" class="{% if page_number == page_obj.number %}page-current{% endif %}">{{page_number}}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
{% endif %}
{% endblock %}
{% endblock %}
