<!DOCTYPE html>
<html lang="en">
<head>
    <style>
{% include 'base.css' %}
    </style>
    <meta charset="UTF-8">{% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <title>{% block title %}{% endblock %} - Organiser</title>
</head>
<body>
<header class="header">
    <a href="{% url 'ContentManager:index' %}" class="logo">Digital Archive</a>
    <div class="header-right">
        <a href="{% url 'ContentManager:index' %}">Index</a>
        <a href="{% url 'ContentManager:search' %}">Search</a>
        <a href="{% url 'ContentManager:tags' %}">Tags</a>
        <a href="{% url 'ContentManager:creators' %}">Creators</a>
        <a href="{% url 'ContentManager:collections' %}">Collections</a>
        {% if user.is_authenticated %}
            {% if perms.ContentManager.can_archive %}
                <a href="{% url 'ContentManager:Archivers:index' %}">Archivers</a>
            {% endif %}
            <a href="{% url 'ContentManager:user' user.username %}">{{ user.username }}</a>
            <a href="{% url 'logout' %}?next=/">Logout</a>
        {% else %}
            <a href="{% url 'login' %}?next={{request.path}}">Login</a>
        {% endif %}
    </div>
</header>
<div class="content">
{% block content %}{% endblock %}
</div>
</body>
</html>